.progress{
	height:5%;
	margin-bottom: 2%;
}
.apuradas{
	width:100%;
}
.container-fluid{
	margin-top: 2%;
}
.candidatos{
	list-style: none;
}
.porcentagem{
	text-align: right;
}
.foto{
	border-radius: 50%;
	width: 10%;
}
.negrito{
	font-weight: bold;
}
.info{
	margin-top: -10%;
	margin-left: 10%;
}
.partido{
	margin-top: -3%;
}
.porcentagemcand{
	font-weight:bold;
	margin-top: -8%;
	margin-left: 80%;
}
.quantidadevotos{
	margin-top: -4%;
	margin-left: 72%;
}

.cinza{
	color: #c0c0c0;
	font-size: 14px;
}
#progressodoria{
	width:30%;
}
.candidato{
	margin-top: 3%;
}
.badge{
	background-color: transparent;
}
.badge.badge-outlined.badge-success {
  border-color: #64DD17;
  color: #64DD17;
}
.badge {
  border: 1px solid transparent;
  border-radius: 99999px;
}
.segundoturno{
	margin-top: -7%;
	margin-left: 7%;
}
.barracand{
	margin-top: -1%;
	width: 82%;
	margin-left: 10%;
}
#progressomarcio{
	width: 20%;
}
.candidatocinza{
	opacity: .6;
}

#progressoskaf{
	width:20%;
}
#progressomarinho{
	width:12%;
}
#progressomajor{
	width:3.5%;
}
#progressochequer{
	width:3%;
}
.imagem{
	margin-right:5%;
}